.footer__container {
  position: fixed;
  bottom: 0;
  margin-top: 2rem;
  /* position: absolute;
  bottom: 0px;
  left: 0px; */
  width: 100vw;
  height: 5vh;
  background-color: #982c2c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__paragraphe {
  color: white;
  font-size: 0.7rem;
}
